<!DOCTYPE html>
<html>
<head>
<title>Blockchain</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>TMB |</b> Transaction Management over Blockchain</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Home</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <!-- <a href="#contact" class="w3-bar-item w3-button">Contact</a> -->
      <a href="{{url_for('login')}}" class="w3-bar-item w3-button">Login</a>

    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="\static\img\kalodot.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
     <h1 class="w3-xxlarge w3-text-white"><span class="w3-black w3-opacity-min"><b>Secure, Transparent, and Efficient</b></span> <!--<span class="w3-hide-small w3-text-light-grey"></span></h1> -->
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Bitcoin</div>
        <img src="\static\img\Bitcoin.jpg" alt="House" style="width:100%">
      </div>
    </div>
    
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Ripple</div>
        <img src="\static\img\ripple.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Stellar</div>
        <img src="\static\img\stellar.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <!-- <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Ethereum</div>
        <img src="\static\img\eth.jpgg" alt="House" style="width:100%">
      </div>
    </div> -->
  </div>

  <!-- <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="/w3images/house2.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="/w3images/house4.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="/w3images/house3.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div> -->

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p align = "justify">Welcome to our blockchain company!<br><br>
      At our company, we are passionate about the power of blockchain technology to revolutionize the way we live and work. Our team of experts brings together extensive knowledge and experience in blockchain, cryptocurrency, and decentralized applications to create innovative solutions that address real-world problems and unlock new opportunities.
      
      Our mission is to build a decentralized future that is more transparent, secure, and accessible to everyone. We believe that blockchain technology has the potential to transform many industries, from finance and healthcare to supply chain management and more. By leveraging the power of blockchain, we can create decentralized applications that are faster, more efficient, and more secure than traditional centralized systems.
      
      Our team is dedicated to staying on the cutting edge of blockchain technology, constantly exploring new possibilities and pushing the boundaries of what is possible. We work with clients from a range of industries to develop customized blockchain solutions that meet their specific needs and help them achieve their goals.
      <br><br>
      Whether you are a startup looking to build a blockchain-based platform, an enterprise seeking to streamline your operations, or an investor looking for the next big thing in blockchain, we have the expertise and experience to help you succeed. Contact us today to learn more about our services and how we can help you harness the power of blockchain for your business.
    </p>
  </div>
  <div class="w3-container w3-padding-32" id="team">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Our Team</h3>
  </div>
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="\static\img\pro.jpg" alt="John" style="width:100%">
      <h3>Amit Budhathoki</h3>
      <p class="w3-opacity">Developer</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="\static\img\pro.jpg" alt="Jane" style="width:100%">
      <h3>Reeshav Acharya</h3>
      <p class="w3-opacity">Developer</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="\static\img\pro.jpg" alt="Mike" style="width:100%">
      <h3>Ritik Gaire</h3>
      <p class="w3-opacity">Developer</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div> -->
  
<!-- Image of location/map -->
<!-- <div class="w3-container">
  <img src="\static\img\blockchain.jpg" class="w3-image" style="width:100%">
</div> -->

<!-- End page content -->
</div>


<!-- Footer -->
<!-- <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">

  <div class="w3-col s4">
    <h4>About</h4>
    <p><a href="#">About us</a></p>
    <p><a href="#">We're hiring</a></p>
    <p><a href="#">Support</a></p>
    <p><a href="#">Find store</a></p>
    <p><a href="#">Shipment</a></p>
    <p><a href="#">Payment</a></p>
    <p><a href="#">Gift card</a></p>
    <p><a href="#">Return</a></p>
    <p><a href="#">Help</a></p>
  </div>
  
</footer> -->

<!-- Footer -->
<footer class="w3-padding-64 w3-black w3-small w3-center" id="footer">
  <div class="w3-row-padding">
    

    <div class="w3-col s4">
      <h4>About</h4>
      <p><a href="#">About us</a></p>
      <p><a href="#">We're hiring</a></p>
      <p><a href="#">Support</a></p>
      <p><a href="#">Find store</a></p>
      <p><a href="#">Return</a></p>
      <p><a href="#">Help</a></p>
    </div>

    <div class="w3-col s4 w3-justify">
      <h4>Store</h4>
      <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
      <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
      <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
      <h4>We accept</h4>
      <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
      <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
      <br>
      <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
      <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
      <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
      <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
      <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
    </div>
  </div>
</footer>

</body>
</html>
