{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile">
    <div class="user-info">
        <!-- {{msg}} -->
        <img src="\static\img\avatar.png" width="100px" height="100px">
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account['email'] }}</td>
            </tr>
            <tr>
                <td>Public Key:</td>
                <td>{{ account['public_key_comp'] }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
